@font-face {
    font-family: 'iconfont';
    /* project id 1635438 */
    src: url('//at.alicdn.com/t/font_1635438_rbtv78blejm.eot');
    src: url('//at.alicdn.com/t/font_1635438_rbtv78blejm.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1635438_rbtv78blejm.woff2') format('woff2'), url('//at.alicdn.com/t/font_1635438_rbtv78blejm.woff') format('woff'), url('//at.alicdn.com/t/font_1635438_rbtv78blejm.ttf') format('truetype'), url('//at.alicdn.com/t/font_1635438_rbtv78blejm.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}